extends layouts/login

block scripts
   script(src="js/connectionSetting.js")

block content
   ol.breadcrumb
      li
         a(href="login.html")
            i.fa.fa-home
            | &nbsp;หน้าหลัก
      li.active
         i.fa.fa-database
         | &nbsp;กำหนดค่าการเชื่อมต่อ
   .row(ng-app="App")
      .col-sm-6.col-md-6.col-lg-6(ng-controller="MainController")
         .panel.panel-primary
            .panel-heading
               h3.panel-title
                  i.fa.fa-database
                  | &nbsp; Connection setting
            .panel-body
               form#frmSetting(role="form", name="frmSetting")
                  .form-group
                     .row
                        .col-sm-9.col-md-9.col-lg-9
                           label(for="txtHost") Server address/name
                           input#txtHost(type="text", placeholder="127.0.0.1", ng-model="host", ng-required="true").form-control
                        .col-sm-3.col-md-3.col-lg-3
                           label(for="txtPort") Port
                           input#txtPort(type="number", placeholder="3306", ng-model="port", ng-required="true").form-control
                  .form-group
                     label(for="txtDbName") Database name
                     input#txtDbName(type="text", placeholder="ehis", ng-model="dbname", ng-required="true").form-control
                  .row
                     .col-sm-6.col-md-6.col-lg-6
                        .form-group
                           label(for="txtUserName") Username
                           input#txtUserName(type="text", placeholder="root", ng-model="username", ng-required="true").form-control
                     .col-sm-6.col-md-6.col-lg-6
                        .form-group
                           label(for="txtPassword") Password
                           input#txtUserName(type="password", placeholder="", ng-model="password").form-control
                  .row
                     .col-sm-6.col-md-6.col-lg-6
                        .form-group
                           label(for="txtDCUrl") DC Url
                           input#txtDCUrl(type="text", placeholder="http://his.mkh.go.th:8081", ng-model="dcUrl", ng-required="true").form-control
                     .col-sm-6.col-md-6.col-lg-6
                        .form-group
                           label(for="txtDCPrivateKey") DC Private key
                           input#txtDCPrivateKey(type="text", placeholder="0123456789", ng-model="dcPrivateKey", ng-required="true").form-control

            .panel-footer
               button(type="button", ng-click="saveConnection()", ng-disabled="frmSetting.$invalid").btn.btn-success
                  i.fa.fa-save
                  | &nbsp;บันทึกข้อมูล
               a(href="login.html").btn.btn-default.pull-right
                  i.fa.fa-home
                  | &nbsp;ยกเลิก/กลับ
