extends layouts/login
block scripts
    script(src="js/login.js")
block content
    ol.breadcrumb
        li.active
            i.fa.fa-sign-in
            | &nbsp; กรุณาระบุชื่อผู้ใช้งาน และ รหัสผ่านของท่าน
    .row(ng-app="App")
        .col-sm-5.col-md-4.col-lg-4.col-sm-offset-4.col-md-offset-4.col-lg-offset-4(ng-controller="MainController")
            .panel.panel-primary
                .panel-heading
                    h3.panel-title
                        i.fa.fa-key
                        | &nbsp; กรุณาลงชื่อเข้าใช้งานโปรแกรม
                .panel-body
                    form#frmLogin(role="form", name="frmLogin")
                       .alert.alert-warning.alert-dismissible(role="alert", ng-show="isFailed")
                          button(type="button", data-dismiss="alert").close
                              span(aria-hidden="true") &times;
                              span.sr-only Close
                          | ชื่อผู้ใช้งาน/รหัสผ่าน ไม่ถูกต้อง

                        .form-group
                           label(for="txtUsername") ชื่อผู้ใช้งาน
                           input#txtHost(type="text", ng-model="username", ng-required="true").form-control
                        .form-group
                           label(for="txtPassword") รหัสผ่าน
                           input#txtPassword(type="password", ng-model="password", ng-required="true").form-control

                .panel-footer
                   button(type="button", ng-click="doLogin()", ng-disabled="frmLogin.$invalid").btn.btn-success
                     i.fa.fa-sign-in
                     | &nbsp;เข้าใช้งานโปรแกรม
                   .btn-group.pull-right
                      a(href="connectionSetting.html", title="กำหนดค่าการเชื่อมต่อ").btn.btn-default
                         i.fa.fa-cogs
                      button(type="button", title="ปิดโปรแกรม", ng-click="doExit()").btn.btn-danger
                         i.fa.fa-power-off
